mutagen==1.47.0
pyside6==6.10.1
pyside6_addons==6.10.1
pyside6_essentials==6.10.1
Requests==2.33.1
winrt_runtime==3.2.1
winrt_windows_foundation==3.2.1
winrt_windows_media==3.2.1
winrt_windows_media_control==3.2.1
winrt_windows_media_core==3.2.1
winrt_windows_media_playback==3.2.1
winrt_windows_storage==3.2.1
winrt_windows_storage_streams==3.2.1
